<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title JANAN
    link(rel="stylesheet", href="assets/styles/index.css")
  body
    section.kv
      img(src="assets/images/kv.jpg", alt="")
      h1.kv__title JAPAN<br>FREE<br>TRAVEL
      ul.block
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem
        li.blockItem

    script(src="assets/scripts/lib/jquery.min.js")
    script(src="assets/scripts/index.js")
