@import 'includes/reset';
@import 'includes/media';
@import 'includes/var';

// 600 ~ 1200
.visible__tablet {
    display: none !important;
    @include media($tablet-portrait) {
        display: block !important;
    }
    @include media($desktop) {
        display: none !important;
    }
}
.hidden__tablet {
    display: block !important;
    @include media($tablet-portrait) {
        display: none !important;
    }
    @include media($desktop) {
        display: block !important;
    }
}

// 600 below
.visible__phone {
    display: block !important;
    @include media($tablet-portrait) {
        display: none !important;
    }
}
.hidden__phone {
    display: none !important;
    @include media($tablet-portrait) {
        display: block !important;
    }
}

.kv {
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    position: relative;
    overflow: hidden;
    &__title {
        width: auto;
        display: inline-block;
        font-size: 8vw;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: 0.2em;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-78%, -56%);
        z-index: 1;
    }
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .block {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        &Item {
            width: 10%;
            height: 0;
            padding-bottom: 10%;
            background: rgba(0, 0, 0, 0.8);
            transition: all 1s;
            box-shadow: inset 5px 5px 0px #ff009a, inset -5px -5px 0px #00f3ff;
            border-radius: 10px;
        }
    }
}
